.cards{
    margin-top: 42px;
    position: relative;
}
.cards:hover{
    box-shadow: 1px 1px -1px rgb(9, 6, 6);
    transform: scale(1.02);
    border-radius: 10px;
}
 .resize{
    height: 300px;
    width:100%;
    max-width: 670px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
    object-fit: cover;
 }
 
.title {
    position: relative;
    font-size: 16px;
    background-color: transparent;
    color : #FFF;
    bottom: 60px;
    text-decoration: none;
    padding-left: 10px;
    font-weight: bold;
    width: 100%;
    position:absolute;
    z-index: 1;
    bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    }
    

    @media screen and (min-width: 500px) and (max-width: 900px) {
        .cards{
            margin: auto 20%;
        }
        .resize{
            min-width: 510px;
        }
        .title{
            font-size:21px;
        }
    }

@media screen and (min-width: 900px) {
    .cards{
       margin: auto 10px;
    }
    
   .resize{
       height: 300px;
       width:100%;
       max-width: 350px;
       min-width: 10px;
   }
.title{
    font-size:21px;
}
    
}