.cards{
    margin: auto 20%;
    margin-top: 42px;
    position: relative;
}
.cards:hover{
    box-shadow: 1px 1px -1px rgb(9, 6, 6);
    transform: scale(1.02);
    border-radius: 10px;
}
 .resize{
    height: 300px;
    width:100%;
    min-width: 560px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
    object-fit: cover;
 }
 
.title {
    position: relative;
    font-size: 22px;
    background-color: transparent;
    color : #FFF;
    bottom: 60px;
    text-decoration: none;
    padding-left: 10px;
    font-weight: bold;
    width: 100%;
    position:absolute;
    z-index: 1;
    bottom: 15px;
    }
    


@media screen and (min-width: 900px) {
    .cards{
       margin: auto 10px;
    }
    
   .resize{
       height: 300px;
       width:100%;
       max-width: 400px;
       min-width: 10px;
   }
 
    
}