.cards{
    margin: auto 10%;
    row-gap: 20px;
    column-gap: 10px;
    margin-top: 42px;
}

 .resize{
    height: 300px;
    width:100%;
    
    border-radius: 10px;
    box-shadow: 2px 1px 1px grey;
 }
.title {
    position: relative;
    font-size: 22px;
    background-color: transparent;
    color : #FFF;
    bottom: 60px;
    text-decoration: none;
    padding-left: 10px;
    font-weight: bold;

}

@media screen and (min-width:800px) {
    .cards{
    display: flex;
    }
    .resize{
        width:20%;
    }
}