.error{
    display: flex;
    flex-direction: column;
}
.error h1{
    text-align: center;
    color: #FF6060;
    font-size:100px;
}

.error p{
    color:#FF6060;
    font-size: 50px;
    text-align: center;
}
.error a{
    color:#FF6060;  
    text-align: center;
}