.footer{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap:wrap;
    color: #fff;
    height:150px;
    justify-content: center;
    font-size: 22px;

}


