.footer{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap:wrap;
    color: #fff;
    height:150px;
    margin-top: 50px;
    padding-top: 50px;

}

