.apparts{
    position: relative;
    row-gap: 30px;
    column-gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 20px;
    }
.link{
    border-radius: 10px;
    margin: 1rem 0 0 0;
    width: 100%;

}

@media screen and (min-width:900px) {
    .apparts{
       margin-top:50px;
       margin-bottom:50px;
       background-color:  #F7F7F7;
       padding: 40px 0;
       border-radius: 20px;
}
}