.slider {
  position: relative;
  width: 100%;
}
.slider .slide-unmove{
  height: 400px;
 }

.slide-picture {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 1rem;
    object-position: center center;
    height: 400px;
    width: 100%;
   
  }

.goToPrevious {
    
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  }

  .goToNext  {
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    
  }

 .arrow-left{
    margin-left: 5px;
    transition: 1s ease-in-out;

 }

 .arrow-left:hover, .arrow-right:hover{
     width: 57px;
     
    cursor: pointer;
 }
 .arrow-right{
    margin-right: 5px;
 }
 .counter {
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
 }

 .counter p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 24px;
    margin: 0;
 }