.slider {
  position: relative;
  width: 100%;
}
.slider .slide-unmove{
  height: 400px;
 }

.slide-picture {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 1rem;
    object-position: center center;
    
  height: 400px;
  width: 100%;
   
  }

.goToPrevious {
    
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  }

  .goToNext  {
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    
  }

 .arrow-left{
    margin-left: 5px;

 }

 .arrow-right{
    margin-right: 5px;
 }